@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Pretendard-Regular", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
}

p {
  color: #666;
}

button {
  height: 30px;
  border-radius: 2px;
  background-color: #283b59;
  border: 1px solid #283b59;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  min-width: 60px;
  white-space: nowrap;
  color: #fff;
  padding: 5px 20px 8px 20px;
}

button:hover {
  background-color: #3d5988;
  border: 1px solid #3d5988;
}

button:disabled {
  background-color: #c0c0c0;
  border: 1px solid #c0c0c0;
  cursor: not-allowed;
}
